body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 608px auto;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
}

#gameWindow {
    width: 800px;
    height: 608px;
    background-color: rgb(80, 205, 250);
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

#inventoryBox {
    position: relative;
    display: block;
    left: 10px;
    top: 10px;
    width: 180px;
    height: 80px;
    color: white;
    background-color: #707070;
    border: white 1px solid;
    padding: 10px;
}

#dialogBar {
    bottom: 0px;
}

#setMainDialog {
    position: relative;
    width: 800px;
    height: 64px;

}

#heroAvatar {
    width: 72px;
    height: 68px;

    bottom: 0px;
    left: 0px;
}

#heroSpeech {
    width: 300px;
    height: 33px;
    background-color: white;
    top: 12px;
    left: 70px;
    opacity: 0;
}

#counterSpeech {
    width: 300px;
    height: 33px;
    background-color: white;
    top: 12px;
    right: 70px;
    opacity: 0;

}

#counterAvatar {
    width: 72px;
    height: 68px;
    bottom: 0px;
    right: 0px;
    opacity: 0;

}

#brownBar {
    bottom: 0px;
    height: 32px;
    background-color: rgb(0, 0, 0);
    width: 800px;

}

#hero {
    width: 32px;
    height: 32px;

    left: 303px;
    top: 400px;

    transition: all 1s ease-in-out;
}

#tileMap {
    top: 0px;
    left: 0px;
}




#key {

    width: 16px;
    height: 16px;

    opacity: 2;
    top: 400px;
    left: 540px;
}

#Well {
    width: 25px;
    height: 25px;

    left: 215px;
    top: 93px;
}

#doorWizardHut {
    width: 32px;
    height: 40px;

    left: 440px;
    top: 330px;
}

#statue {
    width: 30px;
    height: 30px;

    left: 115px;
    top: 510px;
    transition: all 1s ease-in-out;
}

#tile {
    width: 800px;
    height: 608px;
}

.background {
    position: absolute;
    z-index: 0;
}

.character {
    position: absolute;
    z-index: 100;
    transition: all 1s ease-in-out;

}

.foreground {
    position: absolute;
    z-index: 1000;
}

.speechBubble {
    border-radius: 60px;
    padding: 5px 5px 5px 20px;
    user-select: none;
    cursor: default;
    transition: all 1s ease-in-out;
}